<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body{overflow: hidden; color:#4cabff;}	
	</style>
</head>
<body>

	<a href="/lungs"><img src="{{url_for('static', filename='arrow.png')}}" width="20px" height="20px" ></a><div align="center">
	<img src="{{ url_for('display_image', filename=filename) }}" width="200px" height="200px">
</div>
<div style="font-size:20px;font-family:Arial"><b>{{report}}</b></div><br><div style="font-size:20px;font-family:Arial"><b>{{symptoms}}</b></div>
</body>
</html>